
<h3>Listado</h3>
        
<ul class="list-group">

    <li *ngFor="
        let item of personajesDBZ; 
        let i = index;
        let isFirst = first;
        let isLast = last;
        let isEven = even;
        let isOdd = odd
        "
        class="list-group-item"
        [ngClass] ="{
          'list-group-item-danger': isLast,
          'list-group-item-warning': isFirst     

        }">

        <div>
          
          <span>{{i+1}}. </span>
  
          <span>{{item.name}}</span>
  
          <span>- power: {{item.power}}</span>
  
          <span>, Es el primero: {{isFirst}}</span>
  
          <span>, Es el último: {{isLast}}</span>
  
          <span>, Es impar: {{isEven}}</span>

        </div>

        <button (click)="onDeleteCharacter(i)" class="btn btn-danger">x</button>


    </li>

</ul>        
